# Terraform
terraform/.terraform/
# terraform/*.tfstate
# terraform/*.tfstate.*
# terraform/*.tfvars

# Ansible
ansible/*.retry

# OS / editors
.DS_Store
*.swp

# TLS private keys
*.key
*.pem
certs/private/

# Ansible Vault password
.vault_pass