#cloud-config

hostname: ${hostname}

users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups:
      - sudo
    shell: /bin/bash
    lock_passwd: false
    passwd: ${password}

ssh_pwauth: true

chpasswd:
  list: |
    ${username}:${password}
  expire: false

package_update: true

packages:
  - qemu-guest-agent
  - python3
  - python3-apt

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now ssh